{% comment %}
  Props:
  - type: 'submit' | 'button' | 'a'
  - text: String
  - href: String
  - class: String
  - name: String
  - disabled: Boolean
{% endcomment %}

{% capture button_classes %}btn {{ class }}{% endcapture %}

{% if type == 'a' %}
  <a href="{{ href }}" class="{{ button_classes }}">
    {{ text }}
  </a>
{% else %}
  <button
    type="{{ type | default: 'button' }}"
    name="{{ name }}"
    class="{{ button_classes }}"
    {% if disabled %}
      disabled
    {% endif %}
  >
    {{ text }}
  </button>
{% endif %}
