<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}
    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
  </body>
</html>
