<section>
  {%- if section.settings.image != blank -%}
    {{
      section.settings.image
      | image_url: width: 2880
      | image_tag: loading: 'lazy', widths: '2880', alt: section.settings.image.alt
      | escape
    }}
  {%- endif -%}

  <div data-position="{{ section.settings.content_position }}">
    {%- if section.settings.heading != blank -%}
      <h2>
        {{ section.settings.heading | escape }}
      </h2>
    {%- endif -%}

    {%- if section.settings.text != blank -%}
      <div>
        {{ section.settings.text }}
      </div>
    {%- endif -%}

    {%- if section.settings.show_btn -%}
      {%- if section.settings.btn_label != blank and section.settings.btn_link != blank -%}
        <div>
          {% render 'button',
            type: 'a',
            text: section.settings.btn_label,
            href: section.settings.btn_link,
            class: section.settings.btn_style
          %}
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Banner CTA",
  "settings": [
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "checkbox",
      "id": "show_btn",
      "label": "Show Button",
      "info": "Toggle to show/hide button options"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label",
      "visible_if": "{{ section.settings.show_btn }}"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link",
      "visible_if": "{{ section.settings.show_btn }}"
    },
    {
      "type": "select",
      "id": "btn_style",
      "label": "Button Style",
      "options": [
        { "value": "", "label": "Primary" },
        { "value": "btn-secondary", "label": "Secondary" },
        { "value": "btn-outline", "label": "Outline" }
      ],
      "visible_if": "{{ section.settings.show_btn }}"
    }
  ],
  "presets": [
    {
      "name": "Banner CTA"
    }
  ]
}
{% endschema %}
