{%- style -%}
  .banner-cta-{{section.id}}-content[data-position='left'] {
    align-items: flex-start;
  }
  .banner-cta-{{section.id}}-content[data-position='right'] {
    align-items: flex-end;
  }
  .banner-cta-{{section.id}}-content[data-position='center'] {
    align-items: center;
  }
{%- endstyle -%}

<section class="h-125 relative flex text-background">
  {%- if section.settings.image != blank -%}
    {%- assign image_alt = section.settings.image.alt
      | default: section.settings.heading
      | default: 'Banner image'
      | escape
    -%}
    <picture>
      {%- for i in (3..13) -%}
        {%- liquid
          assign width = i | times: 100
          assign width_2x = width | times: 2
        -%}

        <source
          media="(max-width: {{ width }}px)"
          srcset="
            {{ section.settings.image | image_url: width: width, height: 500, crop: 'center' }} 1x,
            {{ section.settings.image | image_url: width: width_2x, height: 1000, crop: 'center' }} 2x
          "
        >
      {%- endfor -%}
      {{
        section.settings.image
        | image_url: width: 2880
        | image_tag:
          class: 'h-125 absolute insets-0 -z-1',
          loading: 'lazy',
          widths: '1440, 1920, 2880',
          size: '100vw',
          alt: image_alt
      }}
    </picture>
  {%- endif -%}

  <div
    class="container-fluid banner-cta-{{section.id}}-content flex flex-col my-auto max-w-162"
    data-position="{{ section.settings.content_position }}"
  >
    {%- if section.settings.heading != blank -%}
      <h2 class="text-h2 mb-4">
        {{ section.settings.heading | escape }}
      </h2>
    {%- endif -%}

    {%- if section.settings.text != blank -%}
      <div class="body-large">
        {{ section.settings.text }}
      </div>
    {%- endif -%}

    {%- if section.settings.show_btn -%}
      {%- if section.settings.btn_label != blank and section.settings.btn_link != blank -%}
        {% assign button_classlist = section.settings.btn_style | append: ' mt-8' %}
        {% render 'button',
          type: 'a',
          text: section.settings.btn_label,
          href: section.settings.btn_link,
          class: button_classlist
        %}
      {%- endif -%}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Banner CTA",
  "settings": [
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "checkbox",
      "id": "show_btn",
      "label": "Show Button",
      "info": "Toggle to show/hide button options"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label",
      "visible_if": "{{ section.settings.show_btn }}"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link",
      "visible_if": "{{ section.settings.show_btn }}"
    },
    {
      "type": "select",
      "id": "btn_style",
      "label": "Button Style",
      "options": [
        { "value": "btn-primary", "label": "Primary" },
        { "value": "btn-secondary", "label": "Secondary" },
        { "value": "btn-outline", "label": "Outline" }
      ],
      "visible_if": "{{ section.settings.show_btn }}"
    }
  ],
  "presets": [
    {
      "name": "Banner CTA"
    }
  ]
}
{% endschema %}
